@use "global" as *;

.tenpoannai {
margin-top: rem(50);
padding-bottom: rem(56.6);
@include mq('md') {
  margin-top: rem(85);
  padding-bottom: rem(109.6);
}
}

.tenpoannai__inner {
  margin-inline: auto;
  max-width: var(--max-width);
  padding-inline: var(--inner-padding);
  @include mq('md') {
  max-width: calc(902px + var(--inner-padding) * 2);
  }
}

.tenpoannai__info {
display: grid;
grid-template-columns: 1fr;
gap: rem(42);
margin-inline: auto;
max-width: var(--max-width);
padding-inline: var(--inner-padding);

@include mq('md') {

  grid-template-columns: 518fr 375fr;
  gap: rem(62);
  max-width: calc(902px + var(--inner-padding) * 2);
}
@media (min-width: 1080px) {
  transform: translateX(rem(28));
  max-width: calc(955px + var(--inner-padding) * 2);
}
}

.tenpoannai__photos {
display: flex;
flex-direction: column;
gap: rem(19);
@include mq('md') {
  gap: rem(18);
}
}

.tenpoannai__img-wrap {
  border-radius: 50px;

}

.tenpoannai__img {
  border-radius: 50px;
height: auto;
object-fit: cover;
aspect-ratio: 350/216;
@include mq('md') {
  aspect-ratio: 518/247;
}
}


.tenpoannai__list {
display: flex;
flex-direction: column;
gap: rem(7);
@include mq('md') {
  margin-top: rem(10);
}
}

.tenpoannai__row {
display: flex;
flex-direction: column;
gap: rem(4);
}

.tenpoannai__term {
  color: var(--main-red);
  font-family: "Noto Sans" , sans-serif;
  font-size: rem(15);
  font-weight: var(--font-weight-normal);
  letter-spacing: calc(0.75 / 15 * 1em);
}

.tenpoannai__desc {
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(1.5 / 15 * 1em);
  line-height: 2;
}

.tenpoannai__map {
margin-top: rem(31);
border-radius: 10px;
@include mq('md') {
margin-top: rem(47);
}
}

.tenpoannai__map iframe {
width: 100%;
height: auto;
display: block;
aspect-ratio: 350/214;
border-radius: 10px;
@include mq('md') {
  aspect-ratio: 902/552;
}
}

.tenpoannai__sdgs {
margin-top: rem(54);
margin-inline: auto;
@include mq('md') {
  max-width:rem(424);
}
}

.tenpoannai__sdgs-link {
  display: grid;
  grid-template-columns: 188fr 162fr;
  @include mq('md') {
  grid-template-columns: 240fr 184fr;
  }
  @media (any-hover: hover) {
  &:hover .link-btn {
  background-color: var(--main-yellow);
  color: var(--white);
  &:after {
  background-color: var(--white);
  transform: translateX(rem(3));
  }
  }
  }

}

.tenpoannai__sdgs-label {
  border-radius: 10px 0 0 10px;
  background:  linear-gradient(180deg, #ADA142 0%, #938238 100%);
  padding: rem(24) rem(5) rem(24) rem(5);
  display: flex;
justify-content: center;
@media (max-width: 767px) {
align-items: center;
}
@include mq('md') {
  padding: rem(26) rem(10) rem(26) rem(10);
}
}

.tenpoannai__sdgs-label-text {
  color: var(--white);
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(20.637);
  font-weight: var(--font-weight-normal);
  line-height: 1.1;
  letter-spacing: calc(2.064 / 20.637 * 1em);
  @include mq('md') {
    font-size: rem(25);
    line-height: 1.25;
  }
}


.tenpoannai__sdgs-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 0 10px 10px 0;
  padding: rem(24) rem(3) rem(24) rem(3);
  @include mq('md') {
    padding: rem(26) rem(10) rem(26) rem(10);
  }
  @media (max-width: 767px) {
  & .link-btn {
    padding: rem(4.5) clamp(11.5px, calc(11.5px + 10 * var(--fluid-basis-mobile)), 21.5px) rem(4.5) clamp(11.5px, calc(11.5px + 10 * var(--fluid-basis-mobile)), 21.5px);
  }
  }
  }
  

.tenpoannai__selection {
margin-top: rem(45);
@include mq('md') {
  margin-top: rem(47);
}
}

.tenpoannai__selection-title {
color: var(--main-red);
font-family: "Noto Sans" , sans-serif;
font-size: rem(15);
font-weight: var(--font-weight-normal);
letter-spacing: calc(0.75 / 15 * 1em);
@include mq('md') {
padding-left: rem(8);
}
}

.tenpoannai__selection-desc {
margin-top: rem(2);
font-size: rem(15);
font-weight: var(--font-weight-regular);
letter-spacing: calc(1.5 / 15 * 1em);
line-height: 2;
@include mq('md') {
  padding-left: rem(8);
  }
}

.tenpoannai__selection-img-wrap {
margin-top: rem(22);
max-width: rem(332);
margin-inline: auto;
}

.tenpoannai__selection-img-wrap img {
width: 100%;
height: auto;
object-fit: cover;
aspect-ratio: 332/469;
}

.tenpoannai__selection-img {
width: 100%;
height: auto;
object-fit: cover;
}
.tenpoannai__btn {
text-align: center;
margin-top: rem(45);
@include mq('md') {
  margin-top: rem(48);
}
}
