@use "global" as *;

.yamasei-strength {
margin-top: rem(75);
@include mq('md') {
margin-top: 14.5vw;
}
}

.yamasei-strength__inner {
margin-inline: auto;
max-width: var(--max-width);
padding-inline: var(--inner-padding);
@include mq('md') {
max-width: calc(659px + var(--inner-padding) * 2);
}
}

.yamasei-strength__title {
  color: var(--main-red);
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(25);
  font-weight: var(--font-weight-normal);
  line-height: 1.1;
  letter-spacing: calc(2.5 / 25 * 1em);
  @include mq('md') {
  font-size: rem(30);
  }
}

.yamasei-strength__img-wrap {
margin-top: rem(23);
border-radius: 10px;
@include mq('md') {
margin-top: rem(38);
}
}

.yamasei-strength__img {
height: auto;
object-fit: cover;
aspect-ratio: 351/214;
border-radius: 10px;
@include mq('md') {
aspect-ratio: 659/400;
}
}

.yamasei-strength__text {
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
  margin-top: rem(23);
  @include mq('md') {
  margin-top: rem(29);
  padding-inline: rem(56);
  }
}

.gyoza-btn {
margin-top: rem(57);
padding-bottom: rem(56.6);
text-align: center;
@include mq('md') {
margin-top: rem(117);
padding-bottom: rem(110);
}
}

