@use "global" as *;

.oem-cases {
margin-top: rem(110);
container-type: inline-size;
@include mq('md') {
  margin-top: 13vw;
}
}

.oem-cases__inner {
margin-inline: auto;
max-width: var(--max-width);
padding-inline: var(--inner-padding);
@include mq('md') {
  max-width: calc(1156px + var(--inner-padding) * 2);
}
}

.oem-cases__content {
background-color: var(--white);
padding-block: rem(33) rem(48);
@media (max-width: 767px) {
  margin-inline: calc(50% - 50cqi);
  padding-inline: calc(50cqi - 50%);
}
@include mq('md') {
  padding: rem(47) rem(120) rem(78) rem(120);
}
}

.oem-cases__title {
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(25);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  letter-spacing: calc(2.5 / 25 * 1em);
  @include mq('md') {
    font-size: rem(30);
    line-height: 1.1;
  }
}

.oem-cases__list {
display: grid;
grid-template-columns: 1fr;
margin-top: rem(30);
row-gap: rem(27);
@include mq('md') {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: rem(40);
  grid-auto-flow: column;
  margin-top: rem(40);
}
}

.oem-cases__item {
  color: var(--main-red);
  font-family: var(--font-family-second);
  font-size: rem(16);
  font-weight: var(--font-weight-normal);
  line-height: 2;
  letter-spacing: calc(1.6 / 16 * 1em);
  @include mq('md') {
    font-size: rem(20);
    letter-spacing: calc(2 / 20 * 1em);
    line-height: 1.3;
  }
}

.oem-cases__item:nth-child(n+4) {
  @include mq('md') {
    text-align: right;
  }
}



