@use "global"as *;

.wholesale-oem-faq {
margin-top: rem(70);
@include mq('md') {
  margin-top: rem(104);
}
}

.wholesale-oem-faq__inner {
margin-inline: auto;
max-width: var(--max-width);
padding-inline: var(--inner-padding);
@include mq('md') {
  max-width: calc(891px + var(--inner-padding) * 2);
}
}

.wholesale-oem-faq__title {
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(25);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  letter-spacing: calc(2.5 / 25 * 1em);
  @include mq('md') {
    font-size: rem(30);
    line-height: 1.1;
  }
}



.faq__list {
 margin-top: rem(29);
 display: flex;
 flex-direction: column;
 gap: rem(20);
 @include mq('md') {
  margin-top: rem(57);
  gap: rem(17);
 }
}


.faq__item-question-btn {
  display: grid;
  grid-template-columns: max-content 1fr;
  width: 100%;
  gap: rem(11);
  @media (any-hover: hover) {
    &:hover .faq__item-question-text {
      color: var(--main-red);
    }
  }
}


.faq__item-question-icon {
  color: var(--main-red);
  font-size: rem(25);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  transform: translateY(rem(2));
}

.faq__item-question-text-wrap {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: rem(10);
  border-radius: 30px;
border: 2px solid var(--main-red);
padding: rem(12) rem(17);

@include mq('md') {
  border-radius: 100px;
  padding: rem(12) rem(24);
}
}

.faq__item-question-text {
  font-size: rem(15);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  text-align: left;
  transition: color 0.3s ease;
}

.faq__item-question-toggle-icon {
  width: rem(15);
  height: rem(2);
  background-color: var(--main-red);
  position: relative;
  top: rem(10);

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
      background-color: var(--main-red);
    rotate: 90deg;
    transition: rotate 0.3s ease;
  }
}

.faq__item.is-open .faq__item-question-toggle-icon::before {
  rotate: 0deg;
}

.faq__item.is-open .faq__item-answer {
  margin-top: rem(18);
}

.faq__item-answer {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: rem(11);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, margin-top 0.3s ease;
}

.faq__item-answer-icon {
  color: var(--main-red);
  font-size: rem(25);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}

.faq__item-answer-text {
  color: var(--white);
  font-size: rem(15);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  border-radius: 30px;
border: 2px solid var(--main-red);
background: var(--main-red);
padding: rem(12) rem(24);
}

.faq__item-answer-link {
  text-decoration: underline;
  transition: color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: blue;
    }
  }

  @media (hover: none) {
    &:active {
      color: blue;
    }
  }
}

.faq__top-link-wrap {
  margin-top: rem(86);
  padding-bottom: rem(46);
  display: flex;
  justify-content: center;

  @include mq('md') {
    padding-bottom: rem(55);
  }
}