@use "global" as *;
.js-fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  
  &.is-active {
    opacity: 1;
  }
}

.js-fade-up {
  opacity: 0;
  translate: 0 20px;
  transition: opacity 1s ease-in-out, translate 1s ease-in-out;
  
  &.is-active {
    opacity: 1;
    translate: 0 0;
  }
}

.js-scaleImg {
  overflow: hidden;
  img {
    scale: 1.05;
    transition: scale 1.1s ease-in-out, opacity 1.1s ease-in-out;
    opacity: 0;
  }
  &.is-active img {
    scale: 1;
    opacity: 1;
  }
&.--delay-1 img {
    transition-delay: var(--delay-1);
  }
  &.--delay-2 img {
    transition-delay: var(--delay-2);
  }
  &.--delay-3 img {
    transition-delay: var(--delay-3);
  } 
  &.--delay-4 img {
    transition-delay: var(--delay-4);
  }
  &.--delay-5 img {
    transition-delay: var(--delay-5);
  }
}
.js-popUp {
  opacity: 0;
  &.is-active {
    animation: popUp .8s ease-out forwards;
  }
  &.--delay {
    animation-delay: .3s;
}
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.8);
  }
  40% {
    opacity: 1;
    transform: translateY(-1%) scale(1.05);
  }
  70% {
    transform: translateY(2%) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  } 
}


////////////////////
// 遅延時間の指定
////////////////////

:root {
  --delay-1: 0.1s;
  --delay-2: 0.2s;
  --delay-3: 0.3s;
  --delay-4: 0.4s;
  --delay-5: 0.5s;
}

.--delay-1 {
  transition-delay: var(--delay-1);
}

.--delay-2 {
  transition-delay: var(--delay-2);
}

.--delay-3 {
  transition-delay: var(--delay-3);
}

.--delay-4 {
  transition-delay: var(--delay-4);
}

.--delay-5 {
  transition-delay: var(--delay-5);
}

@media (max-width: 768px) {

  .--delay-1,
  .--delay-2,
  .--delay-3,
  .--delay-4 {
    transition-delay: .0s;
  }
}