@use "global" as *;

.footer {
position: relative;
background-color: var(--white);
margin-top: 13vw;
@media (max-width: 767px) {
padding-bottom: rem(73);
}
@include mq('md') {
  margin-top: 4vw;
  padding-bottom: rem(40);
}
}

.footer__bg-img {
position: absolute;
top: -4vw;
left: 50%;
translate: -50% 0;
width: 100%;
height: fit-content;
z-index: -1;
@media (max-width: 767px) {
  top: -13vw;
&--pc {
display: none;
}
}
@include mq('md') {
&--sp {
display: none;
}
}
}

.footer__inner {
margin-inline: auto;
max-width: var(--max-width);
padding-inline: var(--inner-padding);
@include mq('md') {
  --inner-padding: 120px;
max-width: calc(1033px + var(--inner-padding) * 2);
position: relative;
top: -1vw;
}
}

.footer__logo {
width: rem(133);
display: block;
margin-inline: auto;
@include mq('md') {
width: rem(156.944);
}
}

.footer__img {
height: auto;
object-fit: contain;
}

.footer-nav {
margin-top: rem(42);
}

.footer-nav__list {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: rem(25);
@include mq('md') {
gap: rem(48);
}
}


.footer-nav__link {
  font-size: rem(14);
  font-weight: var(--font-weight-normal);
  letter-spacing: calc(1.4 / 14 * 1em);
  transition: color var(--duration-base) ease;
  position: relative;
  @media (any-hover: hover) {
  &:hover {
  color: var(--main-yellow);
  }
  }
}

.footer-nav__link::before {
  content: '';
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: rem(-1);
  width: 100%;
  height: 1px;
  background-color: currentColor;
  opacity: .5;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.6s cubic-bezier(0.6, 0, 0, 1);
}


.footer-nav__link:hover::before {
  transform: scale(1, 1);
  transform-origin: left top;
}

.footer__privacy {
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(1.5 / 15 * 1em);
  margin-top: rem(40);
  position: relative;
  transition: color var(--duration-base) ease;
width: fit-content;
margin-left: auto;
  display: block;
@media (max-width: 767px) {
  margin-inline: auto;
}
  @media (any-hover: hover) {
  &:hover {
  color: var(--main-red);
  }
  &:hover::after {
  right: rem(-15);
  }
  }
}

.footer__privacy::after {
content: "";
position: absolute;
top: 52%;
translate: 0 -50%;
right: rem(-11);
width: rem(6);
aspect-ratio: 7/15;
background-color: var(--main-red);
-webkit-mask-image: url('../images/common/arrow-right.svg');
mask-image: url('../images/common/arrow-right.svg');
-webkit-mask-repeat: no-repeat;
mask-repeat: no-repeat;
-webkit-mask-size: contain;
mask-size: contain;
transition: right var(--duration-base) ease;
will-change: right;
@include mq('md') {
  width: rem(7);
}
}

.footer__copy {
display: block;
text-align: center;
font-size: rem(13);
font-weight: var(--font-weight-regular);
line-height: 1.1;
letter-spacing: calc(0.65 / 13 * 1em);
margin-top: rem(36);
@include mq('md') {
margin-top: rem(26);
}
}

