@use "global"as *;

.link-banner {
  display: grid;
  grid-template-columns: 1fr;

  @include mq('md') {
    grid-template-columns: 360fr 429fr;
    align-items: center;
    max-width: 789px;
  }

  @media (any-hover: hover) {
    &:hover .link-banner__img {
      scale: 1.05;
    }

    &:hover .link-banner__img-text:after {
      transform: translateX(rem(5));
    }
  }
}

.link-banner__content {
  background-color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(15);
  padding: rem(46) rem(30) rem(41) rem(30);

  @media (max-width: 767px) {
    align-items: center;
    border-radius: 10px 50px 0 0;
    background: #FFF;
  }

  @include mq('md') {
    gap: rem(17);
    padding: rem(20) rem(30) rem(20) rem(53);
  }
}

.link-banner__text {
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
}

.link-banner__img-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 10px 10px;

  @include mq('md') {
    border-radius: 0 50px 10px 0;
  }
}

.link-banner__img {
  height: auto;
  object-fit: cover;
  aspect-ratio: 350/187;
  transition: scale var(--duration-base) ease-in-out;
  border-radius: 0 0 10px 10px;

  @include mq('md') {
    aspect-ratio: 429/199;
    border-radius: 0 50px 10px 0;
  }
}


.link-banner__img-text {
  position: absolute;
  bottom: rem(28);
  right: rem(21);
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(1.5 / 15 * 1em);
  border-radius: 20px;
  border: 2px solid var(--main-yellow);
  background-color: var(--white);
  display: flex;
  align-items: center;
  width: fit-content;
  padding: rem(4.5) rem(18.7) rem(4.5) rem(17.7);
  gap: rem(12);
  white-space: nowrap;

  @include mq('md') {
  bottom: rem(27);
  right: rem(23);
  }
}

.link-banner__img-text:after {
  content: "";
  display: inline-block;
  width: rem(7);
  background-color: var(--main-yellow);
  border-radius: calc(infinity * 1px);
  aspect-ratio: 1/1;
  transition: transform var(--duration-base) ease-in-out;
}