@use "global"as *;

.link-btn {
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  letter-spacing: calc(1.5 / 15 * 1em);
  border-radius: 20px;
  border: 2px solid var(--main-yellow);
  display: flex;
  align-items: center;
  width: fit-content;
  padding: rem(4.5) rem(21.5) rem(4.5) rem(21.5);
  gap: rem(12);
  transition: background-color var(--duration-base) ease-in-out, color var(--duration-base) ease-in-out;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--main-yellow);
      color: var(--white);
    }

    &:hover:after {
      background-color: var(--white);
      transform: translateX(rem(3));
    }
  }
}

.link-btn:after {
  content: "";
  display: inline-block;
  width: rem(7);
  background-color: var(--main-yellow);
  border-radius: calc(infinity * 1px);
  aspect-ratio: 1/1;
  transition: background-color var(--duration-base) ease-in-out, transform var(--duration-base) ease-in-out;
}