@use "global"as *;

.news-list {
  display: flex;
  flex-direction: column;
  gap: rem(12);
}

.news-list__link {
  display: block;
  background-color: var(--bg-color);
  padding: rem(24) rem(26) rem(24) rem(11);
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: rem(42);

  @include mq('md') {
    padding: rem(26) rem(10) rem(26) rem(29);
    align-items: center;
  }

  @media (any-hover: hover) {
    &:hover .news-list__title {
      color: #9d2020;
    }

    &:hover .news-list__date {
      color: #9d2020;
    }
  }
}

.news-list__date {
  font-size: rem(13);
  font-weight: var(--font-weight-normal);
  line-height: 1.923;
  letter-spacing: calc(0.65 / 13 * 1em);
  transition: color var(--duration-base) ease-in-out;

  @include mq('md') {
    line-height: 1.3;
  }
}

.news-list__title {
  font-size: rem(15);
  font-weight: var(--font-weight-normal);
  line-height: 1.667;
  letter-spacing: calc(0.75 / 15 * 1em);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  transition: color var(--duration-base) ease-in-out;

  @include mq('md') {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.3;
  }
}
