@use "global" as *;

.post-navigation {
  margin-inline: auto;
  max-width: var(--max-width);
  padding-inline: var(--inner-padding);
  display: flex;
  gap: rem(23.6);
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @include mq('md') {
    max-width: calc(959px + var(--inner-padding) * 2);
justify-content: space-between;
gap: rem(50);
  }
}

.post-nav {
  font-family: var(--font-family-second);
font-size: rem(16);
display: inline-block;
width: fit-content;
font-weight: var(--font-weight-normal);
letter-spacing: calc(1.6 / 16 * 1em);
border-radius: calc(infinity * 1px);
background-color: var(--bg-color);
border: 2px solid var(--main-yellow);
padding: rem(17) rem(15);
min-width: rem(280);
text-align: center;
position: relative;
transition: background-color var(--duration-base) ease-in-out, color var(--duration-base) ease-in-out;
@media (any-hover: hover) {
  &:hover {
    background-color: var(--main-yellow);
    color: var(--white);
  }
  &:hover::after {
    background-color: var(--white);
  }
  &.post-nav--prev:hover::after {
    left: rem(29);
  }
  &.post-nav--next:hover::after {
    right: rem(29);
  }
}
&::after {
  content: "";
  position: absolute;
  top: 52%;
  translate: 0 -50%;
  width: rem(10);
  aspect-ratio: 7/15;
  background-color: var(--main-yellow);
  -webkit-mask-image: url('../images/common/arrow-right.svg');
  mask-image: url('../images/common/arrow-right.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  transition: background-color var(--duration-base) ease-in-out, left var(--duration-base) ease-in-out, right var(--duration-base) ease-in-out;
  will-change: right, left, background-color;
}
}

.post-nav--prev::after {
  left: rem(33);
  transform: scale(-1, 1);
}

.post-nav--next::after {
  right: rem(33);
}