@use "global" as *;

.sub-mv {
margin-top: rem(119);
@include mq('md') {
  margin-top: rem(176);
}
}

.sub-mv__title {
  text-align: center;
  font-family: var(--font-family-second);
  font-size: rem(25);
  font-weight: var(--font-weight-normal);
  line-height: 1.3;
  letter-spacing: calc(2.5 / 25 * 1em);
  @include mq('md') {
    font-size: rem(30);
  }
}