@use "global" as *;

.to-top {
  position: fixed;
  right: rem(20);
  bottom: rem(70);
  z-index: var(--z-index-to-top);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  @include mq('md') {
  bottom: rem(90);
  right: rem(76);
  }
  &.js-active {
    opacity: 1;
    visibility: visible;
  }
}

.to-top__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(9);
  border:  solid 2px var(--main-red);
  padding: rem(18) rem(4);
border-radius: calc(infinity * 1px);
@media (any-hover: hover) {
&:hover .to-top__icon {
  transform: translateY(-5px);
}
}
}


.to-top__icon {
  width: rem(7);
  aspect-ratio: 1/1;
  background-color: var(--main-red);
  border-radius: calc(infinity * 1px);
  display: inline-block;
  transition: transform var(--duration-base) ease-in-out;
}

.to-top__text {
  writing-mode: vertical-rl;
font-size: rem(15);
font-weight: var(--font-weight-regular);
letter-spacing: calc(1.5 / 15 * 1em);
}
