@use "global" as *;

.mv {
height: auto;
margin-top: rem(94);
border-radius: 10px;
@include mq('md') {
 margin-top: rem(109);
}
@include mq('xl') {
  height: calc(100vh - rem(109));
  max-height: rem(800);
}
}

.mv__swiper {
  width: 100%;
  height: 100%;
  max-width: calc(100% - rem(40));
  border-radius: 10px;
  @include mq('md') {
  max-width: calc(100% - rem(152));
  }
}

.mv__slide {
  height: 100%;
  border-radius: 10px;
}

.mv__slide-img-wrap {
  height: 100%;
}

.mv__slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
aspect-ratio: 350/290;

  @include mq('md') {
  aspect-ratio: 1214/683;
  }
}

.mv__swiper .swiper-slide.swiper-slide-active .swiper-img,
.mv__swiper .swiper-slide.swiper-slide-duplicate-active .swiper-img,
.mv__swiper .swiper-slide.swiper-slide-prev .swiper-img {
  animation: scale-sp 8s linear 0s normal both;
  transform-origin: left top;
@include mq('md') {
  animation: scale 8s linear 0s normal both;
}
}



@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.04);
  }
}

@keyframes scale-sp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.06);
  }
}