@use "global" as *;
.top-lead {
margin-top: rem(26);
padding-bottom: rem(61);
@include mq('md') {
  margin-top: rem(41);
  padding-bottom: rem(120);
}
@include mq('xl') {
 padding-bottom: 10vw;
}
}

.top-lead__text {
  font-size: rem(15);
  font-weight: var(--font-weight-normal);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
  @include mq('md') {
    font-size: rem(20);
    line-height: 2.35;
    text-align: center;
  }
}

