@use "global" as *;

.top-shop {
margin-top: rem(74);
@include mq('md') {
margin-top: rem(120);
}
}

.top-shop__inner {
margin-inline: auto;
max-width: var(--max-width);
padding-inline: var(--inner-padding);
@include mq('md') {
  --inner-padding: 80px;
max-width: calc(789px + var(--inner-padding) * 2);
}
}