@use "global" as *;

.not-found {
  margin-top: rem(50);
  padding-bottom: rem(56.6);
  @include mq('md') {
    margin-top: rem(85);
    padding-bottom: rem(109.6);
  }
}

.not-found__inner {
  margin-inline: auto;
  max-width: var(--max-width);
  padding-inline: var(--inner-padding);
  @include mq('md') {
    max-width: calc(902px + var(--inner-padding) * 2);
  }
}

.not-found__title {
  font-size: rem(20);
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-normal);
  line-height: 1.3;
  letter-spacing: calc(2.0 / 20 * 1em);
  text-align: center;
  @include mq('md') {
    font-size: rem(25);
  }
}

.not-found__text {
  font-size: rem(15);
  font-weight: var(--font-weight-regular);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
  text-align: center;
  margin-top: rem(23);
  @include mq('md') {
    font-size: rem(16);
    margin-top: rem(33);
  }
}

.not-found__top-link-wrap {
  text-align: center;
  margin-top: rem(33);
  @include mq('md') {
    margin-top: rem(43);
  }
}